@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

body{
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #40484f;
    background: #fff;
}

.container{
    margin-top: 2rem;
    background: #fff;
}

.name {
    color: #000;
}
.title {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.language-selector {
    margin-top: 2rem;
}

.flag {
    justify-content: center;
    background-attachment: fixed;
    border-radius: 20px 20px 0 0;

    a {
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #0095ff;

        &:hover {
            color: #0c65a5;
            text-decoration: underline;
        }
    }

    img {
        box-shadow: 0px 0px 15px -8px #334960;
    }

    &.fr {
        background: linear-gradient(#fffd 0%, #ffff 100px), url(fr.svg) no-repeat top/100%;
    }
    &.en {
        background: linear-gradient(#fffd 0%, #ffff 100px), url(gb.svg) no-repeat top/100%;
    }
}

@view-transition {
    navigation: auto;
}
